.err-msg{
    background-color: rgb(233, 229, 229);
    margin-top: 10px;
    color: red;
    font-weight: bold;
    padding: 10px 30px;
    width: 70%;
}
.bg-red {
    background-color: red !important;
}

.navbar {
    height: 80px;
    background-color: #0071BE;
}

.left-sec-1 {
    padding: 15px;
}

.left-sec-con {
    padding: 5px 0;
}

.middle-sec-box {
    width: 100%;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    height: 200px;
}

.profile-photo {
    /* background: #63BD9D; */
    border-radius: 50%;
}

.cover-photo .profile-photo {
    min-width: 150px;
    min-height: 150px;
}

.post-area {
    padding: 15px !important;
    background-color: #F3E7E7;
}

.post-area .profile-photo {
    max-width: 120px;
    max-height: 120px;
}

.cover-photo {
    height: 252px;
    background-size: 100% 100%;
}

.cover-photo .profile-photo img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post-text {
    height: 120px;
    width: 100%;
    margin-left: 20px;
}

.cover-content {
    padding-left: 20px;
    width: 100%;
}

.comment-area {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

/* leftBar  */
.online-title {
    border-bottom: 1px solid #0003;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    /* background-color: red; */
}


.online-dot {
    height: 10px;
    width: 10px;
    background-color: #5DBB63;
    border-radius: 50%;
    margin-right: 10px;
}

.online-users {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.online-Profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-Profile img {
    border-radius: 50%;
}

.online-component a,
.left-sec-con a {
    color: #000;
    transition: 0.6s;
}

.left-sec-con a:hover {
    text-decoration: underline;
    transition: 0.6s;
}

.online-component a:hover {
    background: #C4C4C4;
    color: #000;
}

/* .trend-sec{
} */
.trend-sec-box {
    display: flex;
    gap: 15px;
    width: 100%;
    min-height: 130px;
    background: #C4C4C4;
    padding: 6px;
    margin-top: 10px;
    overflow: hidden;
    /* flex-wrap: wrap; */
}

.trend-video {
    max-width: 180px;
    min-width: 150px;
    width: 100%;
    background: #FFFFFF;
    /* border-radius: 10px; */
}

.trend-video iframe {
    height: 100%;
    width: 100%;
}

.trend-video img {
    max-width: 180px;
    width: 100%;
    height: 130px;
}

.trend-video-description {
    width: 100%;
    min-height: 71px;
    max-height: 120px;
    left: 1654.73px;
    top: 388px;
    background: #FFFFFF;
}

.trend-tags {
    display: flex;
    gap: 10px;
}

.trend-tag {
    background: #FFFFFF;
    /* background-color: red; */
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 14px;
}

.trend-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;
}

.ads {
    width: 100%;
    height: 120px;
    outline: 1px solid #000;
}

a {
    text-decoration: none;
}

.view-post {
    outline: 1px solid #0004;
    padding: 0 15px;
    /* border-radius: 5px; */
}

.post-creator {
    /* background-color: red; */
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    /* padding: 0 5px; */
    /* border-bottom: 1px solid #0003; */
}

.posted-user {
    display: flex;
    align-items: center;
    color: #000;
    /* background-color: red; */
    /* width: 100%; */
}

.posted-user-d {
    display: flex;
    align-items: center;
}

.posted-profile {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
}

.post-user-name {
    margin-left: 10px;
    width: max-content;
}

.posted-user:hover {
    text-decoration: underline;
    color: #000;
}

.view-post-img{
    max-height: 320px;
    overflow: hidden;
}

.view-post-des{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.view-post-img img {
    max-width: 100%;
    background-size: contain;
}

.logo-top img {
    width: 200px;
    height: 60px;
}

.bg-1 {
    background-color: #7DC1E7;
}

.bg-2 {
    background-color: #C6CF61;
}

.bg-3 {
    background: #CB58AB;
}

.items-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .trend-sec-box {
        flex-wrap: wrap;
    }

    .trend-video {
        width: 100%;
        max-width: 100%;
        max-height: 180px;
    }

    .trend-video img {
        max-width: 100%;
    }
}

 @media only screen and (max-width: 990px) {
    .trend-video {
        max-height: 300px;
    }
}
/* @media only screen and (max-width: 768px) { 
    
} */
/* @media only screen and (max-width: 600px) {
    
} */
@media only screen and (max-width: 600px) {
    .com-sec img{
        height: 80px;
        min-width: 80px;
    }
}
/* for more than 14 inch screen  */
@media only screen and (min-width: 1400px) {
    .view-post-img img{
        max-height: 600px;
    }
}

.err-msg2{
    width: 100%;
    background-color: #C4C4C4;
    color: red;
    padding: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.terms h6{
    font-weight: bold;
}
.terms p{
    font-size: 16px;
}

.read-more{
    text-align: end;
    margin-top: 5px;
    cursor: pointer;
}

#banner{
    min-height: 80vh;
    /* background-color: red; */
}

.banner-img{
    border-radius: 50%;
}

.center-item{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    height: 100%;
    /* font-size: 40px; */
}

.clr-1{
    color: #CB58AB;
}

.pd-0{
    padding: 0;
}

.ff-1{
    font-family: caramel;
    font-style: italic;
}

#tbd{
    background-color: #0071BE;
    /* height: 250px; */
    padding: 40px;
}

#notfound{
    min-height: 60vh;
}

.tbd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.circles{
    width: 180px;
    height: 180px;
    /* background-color: red; */
    border-radius: 50%;
   margin: 10px;
}

.circles img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.pd-0{
    padding: 0;
    margin: 0;
}

.fea-img{
    height: 370px;
}